# Byte-compiled
__pycache__/

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# Unit test / coverage reports
.pytest_cache/
*/tests/data

# docker
Dockerfile

# shell scripts
*.sh

# vscode
.vscode

# notes
notes.md

# coverage
.coverage
htmlcov/